/* Main Colours
   ========================================================================= */
$primary-color: rgb(252, 1, 76);
$secondary-color: #000;
$dark-grey: #aaa;
$light-grey: #f5f5f5;

/* Context Colours
   ========================================================================= */
$bad-color: #ce0832; // Errors, validation etc.
$good-color: #5dae1b; // Success etc.
$info-color: #10bade;
$warning-color: #dea110;
$subtle-color: #999;

/* Other
   ========================================================================= */
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 3rem; // Consistent padding and margins