body {
    @include font-stack;
    line-height: 1.5;
    color: #333;
}

a {
    color: $primary-color;

    &:hover,
    &:focus {
        color: darken($primary-color, 10);
    }

    &:active {
        color: black;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include font-stack-headers;
    margin: 0 0 0.75em 0;
    padding: 0;
    line-height: 1.1;

    a {
        color: #111;
    }
}

h1 {
    @include rem(font-size, 3rem);
}

h2 {
    @include rem(font-size, 2.5rem);
}

h3 {
    @include rem(font-size, 2rem);
}

h4 {
    @include rem(font-size, 1.5rem);
}

h5 {
    @include rem(font-size, 1rem);
}

h6 {
    @include rem(font-size, 1rem);
    font-weight: inherit;
}

p {
    margin: 0 0 1em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 0 0 25px;
    padding: 1em 1em 1em 1.5em;
    border-left: 2px solid $primary-color;
    background: $light-grey;
    @include rem(font-size, 1.1rem);
    font-style: italic;

    p:last-child {
        margin: 0;
    }
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

pre {
    overflow: auto;
    padding: 0;
    border: 1px solid darken($light-grey, 10%);
    border-radius: 5px;
    background: $light-grey;
    font-family: Menlo, Monaco, monospace;
    tab-size: 4;
    word-break: normal;
    white-space: pre-wrap;
    hyphens: none;
    
    code {
        overflow: auto;
        display: block;
        padding: 15px;
        background: none;
        font-family: Menlo, Monaco, monospace;
        white-space: pre;
      }
}

p, li, dd, td {
    > code {
        position: relative;
        top: -1px;
        margin: 0 0.2em 0 0.1em;
        padding: 0.2em 0.3em 0.1em;
        border: 1px solid darken($light-grey, 10%);
        border-radius: 4px;
        background: $light-grey;
        font-family: Menlo, Monaco, monospace;
        font-size: 90%;
    }
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}